@{
    var KeyId = ViewBag.ID;

}
<form>
    <div class="page-content animated fadeInDown">
        <div class="container-fluid" style="padding-bottom:100px;">
            <div class="row" id="form">
                <!--检索面板-->
                @(UI.Input("标题", "name", 6))

                @(UI.Input("点击量", "clicks", 6))

                @(UI.UploadFileAsync("测试图片", "test", 12))

                @(UI.FindBack("用户名称", "User_Name", "Member_UserID", Url.Action("Index", "User", new { findback = "Multiple" }), "App.FindBack.CallBack(row,'User')", "App.FindBack.CallBack(null,'User');",12))

                @(UI.UEditor("介绍", "contents", 12))

            </div>

        </div>
    </div>
    <!--按钮-->
    <div class="my-ButtonBar text-right">
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-outline" data-power="Add" data-bind="visible: !App.IsAdd()" onclick="adminForm.resetUrl(null)">新增</button>
            <button class="btn btn-primary btn-outline">提交</button>
            <button type="button" class="btn btn-danger btn-outline" onclick="admin.layer.close(admin.getLayerIframeIndex());">关闭</button>
        </div>
    </div>
</form>
@section css{
}
@section js{
    <script src="~/Admin/lib/Ko/Knockout-3.4.2.js"></script>
    <script src="~/Admin/js/admin-form.js"></script>
    <script src="~/admin/lib/validform/Validform_v5.3.2_min.js"></script>
    <!-- 配置文件 -->
    <script src="~/Admin/lib/nUeditor/neditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script src="~/Admin/lib/nUeditor/neditor.all.min.js"></script>
    <script src="~/Admin/lib/nUeditor/i18n/zh-cn/zh-cn.js"></script>
    <!--业务代码-->
    <script type="text/javascript">
        function listss(_this) {
            if (_this.files[0]) {
                model.Member_FilePath(_this.files[0].name); $(_this).parent().find('.hzy-upfile-item a').removeAttr('href')
            }
        }
        var KeyId = '@KeyId';
        model = new vModel();
        $(function () {
            ko.applyBindings(model);//注册vModel

            App.Load();
            adminForm.Validform('form', {
                callback: function () {
                    App.Save();
                }
            });
            admin.uploadImg({
                elem: '#test',
                done: function (res, index, upload) {
                    admin.initImg({
                        key: '#test',
                        data: res.data,
                        number: 3
                    });
                    model.test(model.test() + ',' + res.data);
                    console.log(model.test());
                }
            });
            //admin.initImg('#test', '/Content/UpFile/20190107/890dc6a9-0ed3-40a0-add3-63dae6ee5b50.jpg,/Content/UpFile/20190107/e856516f-1975-4892-b341-2d3448b57b6e.jpg',true)

        });

        var App = {
            IsAdd: function () {
                return !KeyId;
            },
            Load: function () {
                //编辑器 配置
                var editor = UE.getEditor('contents');
                editor.addListener('blur', function (editor) {
                    model.contents(UE.getEditor('contents').getContent());
                });

                adminForm.load({
                    KeyId: KeyId,
                    url: "@Url.Action("Find")",
                    callBack: function (r) {
                        setTimeout(function () {
                            editor.setContent(r.contents ? r.contents.replace(/'/g, '\'') : "");
                        }, 300);
                    }
                });
            },
            Save: function () {
                adminForm.Save({
                    url: "@Url.Action("Save")"
                });
            },
            FindBack: {//查找带回类
                CallBack: function (row, tag, dom) {
                    console.log(row);
                    if (row != null && row.length > 0) row = row[0];
                    if (tag == "User") {
                        model.Member_UserID(row ? row.User_ID : "");
                        model.User_Name(row ? row.User_Name : "");
                    }
                }
            }
        };

        //Member_ID, Member_Num, Member_Name, Member_Phone, Member_Sex, Member_Birthday, Member_Photo, Member_UserID, Member_Introduce, Member_CreateTime
        function vModel() {
            @(
                UI.CreateKOViewModel(new news(),"test","User_Name","Member_UserID")
            )
        }
    </script>
}
